@font-face {
    font-family: 'Adobe Clean';
    src: url('AdobeClean-Bold.eot');
    src: url('AdobeClean-Bold.eot?#iefix') format('embedded-opentype'),
        url('AdobeClean-Bold.woff2') format('woff2'),
        url('AdobeClean-Bold.woff') format('woff'),
        url('AdobeClean-Bold.ttf') format('truetype'),
        url('AdobeClean-Bold.svg#AdobeClean-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

   