$light-grey-bg:#fafafa;
$cta-color:#a2a2a2;
$border-color:#EAEAEA;
$dark-grey:#505050;
$light-grey:#323232;
$base-size:14px;
$imag-path: '../images/';
$font-path:'/assets/font/';
$light-black:#1E1E1E;
$sup-head-color:#747474;
$med-greycolor:#6E6E6E;
$white-bg:#fff;



